---
meta:
  lang: en
  title: Welcome
layout: layouts/bs4.njk
---

<h1>Examples:</h1>

<p>
  Examples for
  <a href="https://github.com/NickDJM/accessible-menu-bootstrap-4">NickDJM/accessible-menu-bootstrap-4</a> and
  <a href="https://github.com/NickDJM/accessible-menu-bootstrap-5">NickDJM/accessible-menu-bootstrap-5</a> (ISC
  License).
</p>

<ul>
  <li><a href="{{ 'bs4-examples' | url }}">Bootstrap4</a></li>
  <li>Bootstrap5</li>
</ul>

<p>
  Source Code: Work in progress, see
  <a href="https://github.com/mandrasch/accessible-menu-bootstrap-examples"
    >mandrasch/accessible-menu-bootstrap-examples</a
  >.
</p>
