---
meta:
  lang: en
  title: Welcome
layout: layouts/base.njk
---

<h1>Examples:</h1>

<p>
  Examples for
  <a href="https://github.com/NickDJM/accessible-menu-bootstrap-5">NickDJM/accessible-menu-bootstrap-5</a> (ISC
  License):
</p>

<ul>
  <li><a href="{{ 'bs5-examples' | url }}">Bootstrap5 Accessible Menu Examples</a></li>
</ul>

<p>
  Source Code: Work in progress, see
  <a href="https://github.com/mandrasch/accessible-menu-bootstrap-examples"
    >mandrasch/accessible-menu-bootstrap-examples</a
  >.
</p>
