<!DOCTYPE html>
<html lang="{{ meta.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }} - {{ title or meta.title }}</title>

    <!-- Disable browser caching for testing -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <!-- Bootstrap core CSS -->
    <link href="{{ '/dist/app.css' | url }}" rel="stylesheet" />
    <style type="text/css">
      main {
        margin-top: 50px;
      }
    </style>
  </head>

  <body>
    <main role="main" class="container">
      {{ content | safe }}
    </main>

    <script src="{{ '/dist/app.js' | url }}"></script>
  </body>
</html>
